.principalDiv {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/review.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 5%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }
  
  .reservar {
    top: 80%;
    margin-bottom: 5%;
    display: block;
    position: absolute;
    margin: auto;
    background-color: transparent;
    border: 2px solid rgba(0, 195, 255, 0.5);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(3, 0, 20, 0.1);
    backdrop-filter: blur(3px);
  }
  
  .reservar:hover {
    background-color: rgba(0, 195, 255, 0.5);
    color: white;
  }

  .title {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .carruselcontainer {
    top: 10%; /* Ajusta según sea necesario */
    z-index: 2; /* Asegura que el carrusel esté sobre el contenido al hacerse sticky */
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding-top: 12%;
  }
  
  .box {
    margin-bottom: 20px; /* Ajusta según sea necesario */
  }
  
  /* Ajusta estilos para .content */
  .box .content {
    position: relative;
    width: 190px;
    height: 254px;
    padding: 20px 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
    display: flex;
    flex-direction: column; /* Cambia a disposición de columna */
    justify-content: space-between; /* Espaciado entre elementos */
    align-items: center;
    text-align: center;
  }
  
  /* Agrega estilos para .rating */
  .box .content .rating {
    font-size: 18px; /* Ajusta según sea necesario */
    margin-top: 10px; /* Espaciado desde el comentario */
  }
  .slick-slide {
    margin-right: 20px; /* Adjust as needed to create space between slides */
  }
  
  @media screen and (max-width: 1200px) {
    .title {
      font-size: 35px;
      top: 10%;
      transform: translate(-50%, -50%);
    }

    .carruselcontainer {
        padding-top: 50%;
        width: 70%;
        height: 70%;
    }
    
    /* Estilos para las imágenes dentro del carrusel */
    .carrusel img {
        border-radius: 10px;
        width: 70%;
        height: 70%;
        object-fit: contain; /* Mantiene la relación de aspecto de la imagen sin deformarla */
        cursor: pointer; /* Agrega un cursor de apuntador al pasar sobre las imágenes */

    }
  }
  
  @media screen and (max-width: 600px) {
    .title {
      font-size: 35px;
      top: 15%;
      transform: translate(-50%, -50%);
    }
    .carruselcontainer {
        padding-top: 95%;
        width: 90%;
        height: 90%;
        margin: 0 auto;
        margin-top: 40%;
    }
    
    /* Estilos para las imágenes dentro del carrusel */
    .carrusel img {
        border-radius: 10px;
        width: 90%;
        height: 90%;
        object-fit: contain; /* Mantiene la relación de aspecto de la imagen sin deformarla */
        cursor: pointer; /* Agrega un cursor de apuntador al pasar sobre las imágenes */
    }

    .box .content {
      padding: 20px 100px;
    }
  }
  