.container {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/camping.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

.titulo {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 50px;
  color: white;
  margin-top: 35vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.text {
  grid-row: 2;
  font-size: 30px;
  text-align: center;
  margin-bottom: 8%;
  color: white;
}

.reservar {
  grid-row: 3;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgba(0, 195, 255, 0.5);
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(3, 0, 20, 0.1);
  backdrop-filter: blur(3px);
}

.reservar:hover {
  background-color: rgba(0, 195, 255, 0.5);
  color: white;
}

.mobileIcon {
  display: block;
  color: rgba(0, 195, 255, 0.5);
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
